body {
	font: 14px/20px Verdana, Arial, sans-serif;
	min-width: 320px;
	margin: 0;
}
.container {
	max-width: 800px;
	padding: 0 10px;
	margin: 0 auto;
	width: 100%;
}
.container:after {
	display: block;
	content: '';
	clear: both;
}
h1 {
	font: 30px/36px Verdana, Arial, sans-serif;
	text-transform: capitalize;
	margin: 0 0 15px;
}
h2 {
	font: 20px/25px Verdana, Arial, sans-serif;
	text-transform: capitalize;
	margin: 0 0 15px;
}
h3 {
	font: 16px/20px Verdana, Arial, sans-serif;
	text-transform: capitalize;
	margin: 0 0 10px;
}
ul {
	list-style-position: inside;
	padding: 0;
	margin: 0;
}
.info-list {
	list-style: none;
}
.block-holder .block:nth-child(odd) {
	background: #f4f4f4;
}
.block {
	padding: 25px 0 50px;
}
ol {
	list-style-position: inside;
	padding: 0;
	margin: 0;
}
pre {
	background-color:#2f2f2f;
	background-image:-webkit-repeating-linear-gradient(top, #444 0px, #444 22px, #2f2f2f 22px, #2f2f2f 44px);
	background-image:-moz-repeating-linear-gradient(top, #444 0px, #444 22px, #2f2f2f 22px, #2f2f2f 44px);
	background-image:-ms-repeating-linear-gradient(top, #444 0px, #444 22px, #2f2f2f 22px, #2f2f2f 44px);
	background-image:-o-repeating-linear-gradient(top, #444 0px, #444 22px, #2f2f2f 22px, #2f2f2f 44px);
	background-image:repeating-linear-gradient(top, #444 0px, #444 22px, #2f2f2f 22px, #2f2f2f 44px);
	font: 12px/22px Verdana, Arial, sans-serif;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	overflow:auto;
	margin: 0 0 40px;
	padding: 0 20px;
	display: block;
	color: #aaa;
}