// brand colors (http://name-of-color.com/)
$black: #000;
$white: #fff;
$mountain-mist: #999;
$ironside-gray: #666;


$body-bg: #f4f4f4;
$bg-header-top: #222;
$bg-header: #fafafa;
$bg-alt-header: #242424;
$body-text-color:#444;
$blockquote-color:#999;
$body-link-color:#ad6c60;
$slogan-color:#949494;
$slogan-alt-color:#888;
$heading-color:#343434;
$title-color:#bbb;
$white:#fff;
$gray:#e1e1e1;
$dark-gray:#333;
$dark-gray2:#454545;
$gray2:#ddd;
$light-gray:#ccc;
$light-gray2:#aaa;
$light-gray3:#8d8d8d;
$light-gray4:#eee;
$light-gray5:#aeaeae;
$bg-form:#f4f4f4;
$green:#5b8068;



// base variables
$base-text-color: $black;
$base-background-color: #f4f4f4;
$base-link-color: $ironside-gray;
$base-form-text-color: $black;
$base-form-placeholder-color: $mountain-mist;
$base-input-border-color: $mountain-mist;

$base-font-size: 12px;
$base-line-height: 1.25;
$base-font-family: 'Raleway', Helvetica, Arial, sans-serif;
$heading-font-family: 'Oswald', Arial, Helvetica, sans-serif;
$font-play-fair: 'Playfair Display', Arial, Helvetica, sans-serif;
$font-georgia: Georgia, "Times New Roman", Times, serif;
$base-text-interval: ($base-font-size * $base-line-height);

$base-min-width: 320px;

// @font-face-serif: 
// @font-face-sans-serif: 